# ignore python bytecode files
__pycache__/
*.pyc
# ignore database files
*.sqlite3
# ignore IDE
.idea/
.vscode/
# Ignore environment-specific settings
.venv/
# ignore static and media files
/static/
/media/